<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>書籍登録一覧画面</title>
    </head>
    <body>


        <table>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}">100</td>
                <td th:text="${book.title}">タイトルＡ</td>
                <td th:text="${book.writter}">著者Ａ</td>
                <td th:text="${book.publisher}">出版社Ａ</td>
                <td th:text="${book.price}">100</td>
            </tr>
</table>
        <form th:action="@{/books/list}" method="post">
            <table>
                <tr><td>タイトル:</td><td><input type="text" name="title" /></td></tr>
                <tr><td>著者：</td><td><input type="text" name="writter" /></td></tr>
                <tr><td>出版社：</td><td><input type="text" name="publisher" /></td></tr>
                <tr><td>個数：</td><td><input type="text" name="price" /></td></tr>
            </table>
            <input type="submit" />
        </form>
     
     </body>
</html>
