<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
	    <link rel="stylesheet" type="text/css"
	    th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <meta charset="UTF-8" />
        <title>書籍　注文</title>
    </head>
    <body>
    <h1>書籍　注文</h1><br>
    
    <form action="/books/check" method="POST" th:object="${reserveBooksForm}">
    
    <ul>
      <li th:each="e : ${#fields.detailedErrors()}"
        th:class="${e.global}? globalerrMsg : fielderrMsg" th:text="${e.message}" />
    </ul>
    
    <p>注文する本</p><p><input type="text" name="booktitle" th:field="*{title}" ><input type="text" name="publisher" placeholder="出版社"  th:field="*{publisher}"></p>
    <input type="text" name="writer" placeholder="作者名" th:field="*{writer}"><input type="text" name="number" placeholder="冊数" th:field="*{number}"><br>
    <p>なまえ</p><input type="text" name="name" placeholder="なまえ" th:field="*{name}" ><br>    
    <p>電話番号</p><input type="tel" name="tel"  th:field="*{tel}" pattern="\d{2,4}-?\d{3,4}-?\d{3,4}" placeholder="090-1234-5678"><br>
    <p>連絡希望<input type="radio" name="call" value=1 >する
　　　　<input type="radio" name="call" value=0 checked>しない</p><br>
	<p><button type="submit">確定</button></p>
	</form>
    
      <!--    <form th:action="@{/books/list}" method="post">
            <table class="container">
                <tr><td>タイトル:</td><td><input type="text" name="title" /></td></tr>
                <tr><td>著者：</td><td><input type="text" name="writer" /></td></tr>
                <tr><td>出版社：</td><td><input type="text" name="publisher" /></td></tr>
                <tr><td>個数：</td><td><input type="text" name="price" /></td></tr>
            </table>
            <input type="submit" />
        </form>
     -->
     </body>
</html>