<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
	    <link rel="stylesheet" type="text/css"
	    th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <meta charset="UTF-8" />
        <title>書籍　注文</title>
    </head>
    <body>
    <h1>書籍　注文</h1><br>
    <from action="books/check" method="POST">
    <p>注文する本</p><p><input type="text" name="booktitle" placeholder="書籍名"><input type="text" name="publisher" placeholder="出版社"></p>
    <input type="text" name="writer" placeholder="作者名"><input type="text" name="number" placeholder="冊数"><br>
    <p>なまえ</p><input type="text" name="name" placeholder="なまえ"><br>    
    <p>電話番号</p><input type="tel" name="tel"><br>
    <p>連絡希望<input type="radio" name="renraku" value="yes">する
　　　　<input type="radio" name="renraku" value="no" checked>しない</p><br>
	<p><button type="submit">確定</button></p>
	</from>
    
      <!--    <form th:action="@{/books/list}" method="post">
            <table class="container">
                <tr><td>タイトル:</td><td><input type="text" name="title" /></td></tr>
                <tr><td>著者：</td><td><input type="text" name="writter" /></td></tr>
                <tr><td>出版社：</td><td><input type="text" name="publisher" /></td></tr>
                <tr><td>個数：</td><td><input type="text" name="price" /></td></tr>
            </table>
            <input type="submit" />
        </form>
     -->
     </body>
</html>
