<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
	    <link rel="stylesheet" type="text/css"
	    th:href="@{/css/style.css}" />
        <meta charset="UTF-8" />
        <title>東北書店☭　トップページ</title>
    </head>
<body bgcolor="#FF0000" text="#ffff00">
    <h1><span class="title"><a>東北書店☭</a></span></h1>
    <h2><a>サイトの使い方</a></h2>
    <img th:src="@{/images/gomi_furuzasshi.png}">
    <img th:src="@{/images/book_funsyo.png}"><br>
    <img th:src="@{/images/dokusyo_roujin.png}">
    <h2><a href="books/reserve">注文ページへ</a></h2>
</body>
</html>